.contenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes par défaut */
    gap: 20px; /* Espace entre les éléments */
}

@media screen and (max-width: 991px) {
    .contenu {
        grid-template-columns: repeat(3, 1fr); /* 2 colonnes sur les écrans moyens */
    }
}
/* Ajustement pour les écrans moyens (tablettes, par exemple) */
@media screen and (max-width: 768px) {
    .contenu {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur les écrans moyens */
    }
}
/* Ajustement pour les petits écrans (mobiles) */
@media screen and (max-width: 480px) {
    .contenu {
        grid-template-columns: 1fr; /* 1 colonne sur les petits écrans */
        
    }
}
