<div class="footer">
    <div class="top">
        <div class="info">
            <h4>Our services</h4>
            <ul>
                <li>Developpemet des applications </li>
                <li>analyse et maintenance des projets </li>
                <li>Maintenace informatique</li>
                <li>Assistance aux entreprises</li>
                <li>Gestion des contenus </li>
            </ul>

        </div>
        <div class="contact">
            <p>Laisser nous votre commantaire</p>
            <form>
                <textarea name="" id="" placeholder="Laisser votre message ici ..." ></textarea>
                <button > <img src="/assets/send.png" alt=""></button>
            </form>
        </div>
        <div class="partenaires">
            <h4>Nos partenaires</h4>
            <div class="part">
                <span class="partnairs"><img src="/assets/partenaires/mtn-mobile-money.jpg" alt=""></span>
                <span class="partnairs"><img src="/assets/partenaires/paypal.png" alt=""></span>
                <span class="partnairs"><img src="/assets/partenaires/orange-money.jpg" alt=""></span>
                <span class="partnairs"><img src="/assets/partenaires/visa.png" alt=""></span>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="bottom">
        <p> projet realisé par BSAA CORPORATION &copy; 2024</p>
    </div>
</div>